<p>當列數超過12時 將換行</p>

<div class="grid">
    <div class="col-6">
        <div class="text-center p-3 border-round-sm bg-green-500 font-bold text-white">6</div>
    </div>
    <div class="col-6">
        <div class="text-center p-3 border-round-sm bg-green-500 font-bold text-white">6</div>
    </div>
    <div class="col-6">
        <div class="text-center p-3 border-round-sm bg-green-500 font-bold text-white">6</div>
    </div>
    <div class="col-6">
        <div class="text-center p-3 border-round-sm bg-green-500 font-bold text-white">6</div>
    </div>
</div>