<h2><a href="https://www.primefaces.org/primeflex/bordercolor" target="_blank">Border Color</a></h2>
<ul>
    <li>
        <a routerLink="color">color</a>
    </li>
</ul>

<h2><a href="https://www.primefaces.org/primeflex/borderradius" target="_blank">Border Radius</a></h2>
<ul>
    <li>
        <a routerLink="radius">radius</a>
    </li>
</ul>

<h2><a href="https://www.primefaces.org/primeflex/borderwidth" target="_blank">Border Width</a></h2>
<ul>
    <li>
        <a routerLink="width">width</a>
    </li>
</ul>

<h2><a href="https://www.primefaces.org/primeflex/borderstyle" target="_blank">Border Style</a></h2>
<ul>
    <li>
        <a routerLink="style">style</a>
    </li>
</ul>