<p>text-overflow 指定當內容溢出時如何顯示</p>

<div class="card">
    <div class="flex align-items-center justify-content-center card-container flex-column">
        <div class="surface-overlay border-round border-1 p-3 white-space-nowrap overflow-hidden text-overflow-clip"
            style="width:200px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>

        <div class="surface-overlay border-round border-1 p-3 mt-3 white-space-nowrap overflow-hidden text-overflow-ellipsis"
            style="width:200px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
    </div>
</div>