<h2><a href="https://www.primefaces.org/primeflex/display" target="_blank">display</a></h2>
<ul>
    <li>
        <a routerLink="hide">hide</a>
    </li>
    <li>
        <a routerLink="block">block</a>
    </li>
    <li>
        <a routerLink="inline">inline</a>
    </li>
    <li>
        <a routerLink="inline-block">inline-block</a>
    </li>
    <li>
        <a routerLink="flex">flex</a>
    </li>
    <li>
        <a routerLink="inline-flex">inline-flex</a>
    </li>
    <li>
        <a routerLink="responsive">responsive</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/overflow" target="_blank">overflow</a></h2>
<ul>
    <li>
        <a routerLink="overflow/auto">auto</a>
    </li>
    <li>
        <a routerLink="overflow/hidden">hidden</a>
    </li>
    <li>
        <a routerLink="overflow/visible">visible</a>
    </li>
    <li>
        <a routerLink="overflow/scroll">scroll</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/position" target="_blank">position</a></h2>
<ul>
    <li>
        <a routerLink="position/static">static</a>
    </li>
    <li>
        <a routerLink="position/fixed">fixed</a>
    </li>
    <li>
        <a routerLink="position/relative">relative</a>
    </li>
    <li>
        <a routerLink="position/absolute">absolute</a>
    </li>
    <li>
        <a routerLink="position/sticky">sticky</a>
    </li>
    <li>
        <a routerLink="position/trbl">top right bottom left </a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/zindex" target="_blank">z-index</a></h2>
<ul>
    <li>
        <a routerLink="z">z</a>
    </li>
</ul>