<h2><a href="https://www.primefaces.org/primeflex/gridsystem" target="_blank">Grid System</a></h2>
<ul>
    <li>
        <a routerLink="grid/system">Grid System</a>
    </li>
    <li>
        <a routerLink="grid/12">12 Column Grid</a>
    </li>
    <li>
        <a routerLink="grid/multiLine">MultiLine</a>
    </li>
    <li>
        <a routerLink="grid/fixed">Fixed Width Column</a>
    </li>
    <li>
        <a routerLink="grid/offset">Offset</a>
    </li>
    <li>
        <a routerLink="grid/nested">Nested</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/formlayout" target="_blank">Form Layout</a></h2>
<ul>
    <li>
        <a routerLink="form/vertical">Vertical</a>
    </li>
    <li>
        <a routerLink="form/horizontal">Horizontal</a>
    </li>
    <li>
        <a routerLink="form/inline">Inline</a>
    </li>
    <li>
        <a routerLink="form/checkbox">Checkbox</a>
    </li>
    <li>
        <a routerLink="form/radiobutton">Radiobutton</a>
    </li>
    <li>
        <a routerLink="form/help-text">Help Text</a>
    </li>
    <li>
        <a routerLink="form/advanced">Advanced</a>
    </li>
</ul>