<p>flex-none 相當於設置 0 0 auto，所以元素不會改變大小，將保持初始的 auto 獲取的大小</p>
<div class="card">
    <div class="card-container purple-container overflow-hidden">
        <div class="flex">
            <div
                class="flex-1 flex align-items-center justify-content-center bg-purple-500 font-bold text-white m-2 px-5 py-3 border-round">
                Lorem ipsum dolor sit amet</div>
            <div
                class="flex-none flex align-items-center justify-content-center bg-purple-500 font-bold text-white m-2 px-5 py-3 border-round">
                Lorem ipsum dolor sit amet</div>
            <div
                class="flex-1 flex align-items-center justify-content-center bg-purple-500 font-bold text-white m-2 px-5 py-3 border-round">
                Lorem ipsum dolor sit amet</div>
        </div>
    </div>
</div>

