<h2><a href="https://www.primefaces.org/primeflex/width" target="_blank">width</a></h2>
<ul>
    <li>
        <a routerLink="width">width</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/minwidth" target="_blank">min width</a></h2>
<ul>
    <li>
        <a routerLink="min-width">min width</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/maxwidth" target="_blank">max width</a></h2>
<ul>
    <li>
        <a routerLink="max-width">max width</a>
    </li>
</ul>

<h2><a href="https://www.primefaces.org/primeflex/height" target="_blank">height</a></h2>
<ul>
    <li>
        <a routerLink="height">height</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/minheight" target="_blank">min height</a></h2>
<ul>
    <li>
        <a routerLink="min-height">min height</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/maxheight" target="_blank">max height</a></h2>
<ul>
    <li>
        <a routerLink="max-height">max height</a>
    </li>
</ul>