<p>list-style 定義列表顯示風格</p>
<div class="card">
    <p>.list-none</p>
    <ul class="list-none">
        <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </li>
        <li>
            Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus
            mattis.
        </li>
        <li>
            Maecenas pharetra convallis posuere morbi leo urna molestie.
        </li>
    </ul>
    <p>.list-disc</p>
    <ul class="list-disc">
        <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </li>
        <li>
            Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus
            mattis.
        </li>
        <li>
            Maecenas pharetra convallis posuere morbi leo urna molestie.
        </li>
    </ul>
    <p>.list-decimal</p>
    <ul class="list-decimal">
        <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </li>
        <li>
            Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus
            mattis.
        </li>
        <li>
            Maecenas pharetra convallis posuere morbi leo urna molestie.
        </li>
    </ul>
</div>