<p>使用 mt/mr/mb/ml 來指定特定方向的 margin</p>

<div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container blue-container">
        <div class="bg-blue-100 w-12rem m-3 border-round">
            <div
                class="mt-5 border-round-bottom bg-blue-500 text-white font-bold p-3 flex align-items-center justify-content-center">
                mt-5</div>
        </div>
        <div class="bg-blue-100 w-12rem m-3 border-round">
            <div
                class="mr-8 border-round-left bg-blue-500 text-white font-bold p-3 flex align-items-center justify-content-center">
                mr-8</div>
        </div>
        <div class="bg-blue-100 w-12rem m-3 border-round">
            <div
                class="mb-3 border-round-top bg-blue-500 text-white font-bold p-3 flex align-items-center justify-content-center">
                mb-3</div>
        </div>
        <div class="bg-blue-100 w-12rem m-3 border-round">
            <div
                class="ml-6 border-round-right bg-blue-500 text-white font-bold p-3 flex align-items-center justify-content-center">
                ml-6</div>
        </div>
    </div>
</div>

<p>使用 mx 來指定水平方向的 margin</p>

<div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container yellow-container">
        <div class="bg-yellow-100 w-12rem m-3 border-round">
            <div
                class="mx-6 border-round bg-yellow-500 text-gray-900 font-bold p-3 flex align-items-center justify-content-center">
                mx-6</div>
        </div>
    </div>
</div>

<p>使用 my 來指定垂直方向的 margin</p>
<div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container green-container">
        <div class="bg-green-100 w-12rem m-3 border-round">
            <div
                class="my-5 border-round bg-green-500 text-white font-bold p-3 flex align-items-center justify-content-center">
                my-5</div>
        </div>
    </div>
</div>

<p>使用 <strong>-</strong> 來指定負值的 margin</p>
<div class="flex flex-wrap align-items-center justify-content-center card-container blue-container">
    <div class="bg-blue-100 w-12rem m-3 border-round">
        <div
            class="-mt-5 border-round-bottom bg-blue-500 text-white font-bold p-3 flex align-items-center justify-content-center">
            -mt-5</div>
    </div>
    <div class="bg-blue-100 w-12rem m-3 border-round">
        <div
            class="-mr-8 border-round-left bg-blue-500 text-white font-bold p-3 flex align-items-center justify-content-center">
            -mr-8</div>
    </div>
    <div class="bg-blue-100 w-12rem m-3 border-round">
        <div
            class="-mb-3 border-round-top bg-blue-500 text-white font-bold p-3 flex align-items-center justify-content-center">
            -mb-3</div>
    </div>
    <div class="bg-blue-100 w-12rem m-3 border-round">
        <div
            class="-ml-6 border-round-right bg-blue-500 text-white font-bold p-3 flex align-items-center justify-content-center">
            -ml-6</div>
    </div>
</div>