<p>relative 相對元素原始位置顯示，可以使用 top/left/right/bottom 屬性調整位置</p>
<div class="card">
    <div class="relative card-container green-container">
        <div class="relative bg-green-100 p-4 border-round font-bold text-gray-900"
            style="min-width: 300px; min-height: 160px;">Relative
            <div class="absolute bottom-0 left-0 bg-green-500 p-4 text-white font-bold border-round"
                style="min-width: 120px; min-height: 70px">
                Absolute
            </div>
        </div>
    </div>
</div>