<p>
    top right bottom left 分別提供了 4 個後綴用於指定常用屬性
</p>
<ol>
    <li>-auto</li>
    <li>-0</li>
    <li>-50 -> 50%</li>
    <li>-100 -> 100%</li>
</ol>

<div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container blue-container">
        <div class="relative bg-blue-200 w-9rem h-9rem mx-3 my-3 md:my-0 border-round">
            <div
                class="absolute top-0 left-0 bg-blue-500 text-white font-bold flex align-items-center justify-content-center w-4rem h-4rem border-round">
                1</div>
        </div>
        <div class="relative bg-blue-200 w-9rem h-9rem mx-3 my-3 md:my-0 border-round">
            <div
                class="absolute top-0 right-0 bg-blue-500 text-white font-bold flex align-items-center justify-content-center w-4rem h-4rem border-round">
                2</div>
        </div>
        <div class="relative bg-blue-200 w-9rem h-9rem mx-3 my-3 md:my-0 border-round">
            <div
                class="absolute bottom-0 right-0 bg-blue-500 text-white font-bold flex align-items-center justify-content-center w-4rem h-4rem border-round">
                3</div>
        </div>
        <div class="relative bg-blue-200 w-9rem h-9rem mx-3 my-3 md:my-0 border-round">
            <div
                class="absolute bottom-0 left-0 bg-blue-500 text-white font-bold flex align-items-center justify-content-center w-4rem h-4rem border-round">
                4</div>
        </div>
    </div>
</div>