<p>position-absolute works!</p>

<div class="card">
    <div class="card-container purple-container mb-4">
        <div class="relative bg-purple-100 border-round p-4 font-bold text-gray-900">
            <p class="mt-0">Relative</p>
            <div class="static bg-purple-200 border-round p-4 font-bold text-gray-900"
                style="min-width: 300px; min-height: 150px;">
                <p class="mt-0">Static</p>
                <div class="static bottom-0 left-0 bg-purple-500 border-round p-4 font-bold text-white"
                    style="min-width: 120px; min-height: 70px">
                    Static
                </div>
            </div>
        </div>
    </div>

    <div class="card-container purple-container">
        <div class="relative bg-purple-100 border-round p-4 font-bold text-gray-900">
            <p class="mt-0">Relative</p>
            <div class="static bg-purple-200 border-round p-4 font-bold text-gray-900"
                style="min-width: 300px; min-height: 150px;">
                <p class="mt-0">Static</p>
                <div class="absolute bottom-0 left-0 bg-purple-500 border-round p-4 font-bold text-white"
                    style="min-width: 120px; min-height: 70px">
                    Dynamic
                </div>
            </div>
        </div>
    </div>
</div>