<div class="card">
    <h5>你可以在 class field 的子項中使用 small 標籤來爲 field 顯示一些幫助信息</h5>
    <div class="field">
        <label for="username">Username</label>
        <input id="username" type="username"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            aria-describedby="username-help">
        <small id="username-help">Enter your username to reset your password.</small>
    </div>
</div>