<p>cursor 指定鼠標懸停在元素上顯示的光標</p>
<div class="card">
    <div class="flex align-items-center justify-content-center card-container blue-container">
        <div
            class="cursor-auto flex align-items-center justify-content-center border-round bg-blue-500 text-white p-3 m-3 font-bold">
            auto</div>
        <div
            class="cursor-pointer flex align-items-center justify-content-center border-round bg-blue-500 text-white p-3 m-3 font-bold">
            pointer</div>
        <div
            class="cursor-wait flex align-items-center justify-content-center border-round bg-blue-500 text-white p-3 m-3 font-bold">
            wait</div>
        <div
            class="cursor-move flex align-items-center justify-content-center border-round bg-blue-500 text-white p-3 m-3 font-bold">
            move</div>
    </div>
</div>