<h2><a href="https://www.primefaces.org/primeflex/transitionproperty" target="_blank">transition-property</a></h2>
<ul>
    <li>
        <a routerLink="property">transition-property</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/transitionduration" target="_blank">transition-duration</a></h2>
<ul>
    <li>
        <a routerLink="duration">transition-duration</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/transitiontimingfunction"
        target="_blank">transition-timing-function</a></h2>
<ul>
    <li>
        <a routerLink="timing-function">transition-timing-function</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/transitiondelay" target="_blank">transition-delay</a></h2>
<ul>
    <li>
        <a routerLink="delay">transition-delay</a>
    </li>
</ul>