<p>font-weight 指定字體粗細</p>
<div class="card flex flex-wrap align-items-center justify-content-center">
    <div class="flex border-bottom-1 surface-border w-full">
        <p class="font-light mr-3 text-blue-500 text-left w-2">font-light</p>
        <p class="font-light w-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <div class="flex border-bottom-1 surface-border w-full">
        <p class="font-normal mr-3 text-blue-500 w-2">font-normal</p>
        <p class="font-normal w-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <div class="flex border-bottom-1 surface-border w-full">
        <p class="font-medium mr-3 text-blue-500 w-2">font-medium</p>
        <p class="font-medium w-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <div class="flex border-bottom-1 surface-border w-full">
        <p class="font-semibold mr-3 text-blue-500 w-2">font-semibold</p>
        <p class="font-semibold w-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <div class="flex border-bottom-1 surface-border w-full">
        <p class="font-bold mr-3 text-blue-500 w-2">font-bold</p>
        <p class="font-bold w-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. </p>
    </div>
</div>