<p>responsive works!</p>

<div class="card">
    <div class="card-container cyan-container inline-flex">
        <div
            class="hidden sm:inline-flex h-4rem bg-cyan-500 text-white font-bold align-items-center justify-content-center p-4 border-round mr-3">
            Hide on a small screen</div>
    </div>
</div>

<div class="card">
    <div class="card-container cyan-container inline-flex">
        <div
            class="hidden sm:inline-flex h-4rem bg-cyan-500 text-white font-bold align-items-center justify-content-center p-4 border-round mr-3">
            Hide on a small screen</div>
    </div>
    <div class="card-container cyan-container inline-flex">
        <div
            class="inline-flex sm:hidden h-4rem bg-cyan-500 text-white font-bold align-items-center justify-content-center p-4 border-round mr-3">
            Hide on a not small screen</div>
    </div>
</div>