<p>PrimeFlex 提供了很多背景顏色的 class，具體的顏色值由 theme 提供，你可以<a href="https://www.primefaces.org/primeflex/backgroundcolor"
        target="_blank">在此</a>查看可選值和顏色預覽</p>
<div class="card">
    <div class="flex flex-wrap md:justify-content-between justify-content-center card-container">
        <div class="surface-500 text-white font-bold border-round m-2 flex align-items-center justify-content-center"
            style="min-width: 200px; min-height: 100px">surface-500</div>
        <div class="bg-cyan-500 text-white font-bold border-round m-2 flex align-items-center justify-content-center"
            style="min-width: 200px; min-height: 100px">bg-cyan-500</div>
        <div class="bg-orange-500 text-white font-bold border-round m-2 flex align-items-center justify-content-center"
            style="min-width: 200px; min-height: 100px">bg-orange-500</div>
    </div>
</div>