<p>font-size 用於指定元素的字體大小</p>

<div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center">
        <div class="flex align-items-center border-bottom-1 surface-border surface-overlay w-full">
            <p class="w-2 text-left font-bold text-blue-500 mr-3">text-xs</p>
            <p class="text-xs w-10">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="flex align-items-center border-bottom-1 surface-border surface-overlay w-full">
            <p class="w-2 text-left font-bold text-blue-500 mr-3">text-sm</p>
            <p class="text-sm w-10">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="flex align-items-center border-bottom-1 surface-border surface-overlay w-full">
            <p class="w-2 text-left font-bold text-blue-500 mr-3">text-base</p>
            <p class="text-base w-10">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="flex align-items-center border-bottom-1 surface-border surface-overlay w-full">
            <p class="w-2 text-left font-bold text-blue-500 mr-3">text-lg</p>
            <p class="text-lg w-10">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="flex align-items-center border-bottom-1 surface-border surface-overlay w-full">
            <p class="w-2 text-left font-bold text-blue-500 mr-3">text-xl</p>
            <p class="text-xl w-10">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="flex align-items-center border-bottom-1 surface-border surface-overlay w-full">
            <p class="w-2 text-left font-bold text-blue-500 mr-3">text-2xl</p>
            <p class="text-2xl w-10">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="flex align-items-center border-bottom-1 surface-border surface-overlay w-full">
            <p class="w-2 text-left font-bold text-blue-500 mr-3">text-3xl</p>
            <p class="text-3xl w-10">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="flex align-items-center border-bottom-1 surface-border surface-overlay w-full">
            <p class="w-2 text-left font-bold text-blue-500 mr-3">text-4xl</p>
            <p class="text-4xl w-10">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="flex align-items-center border-bottom-1 surface-border surface-overlay w-full">
            <p class="w-2 text-left font-bold text-blue-500 mr-3">text-5xl</p>
            <p class="text-5xl w-10">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="flex align-items-center border-bottom-1 surface-border surface-overlay w-full">
            <p class="w-2 text-left font-bold text-blue-500 mr-3">text-6xl</p>
            <p class="text-6xl w-10">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="flex align-items-center border-bottom-1 surface-border surface-overlay w-full">
            <p class="w-2 text-left font-bold text-blue-500 mr-3">text-7xl</p>
            <p class="text-7xl w-10">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="flex align-items-center border-bottom-1 surface-border surface-overlay w-full">
            <p class="w-2 text-left font-bold text-blue-500 mr-3">text-8xl</p>
            <p class="text-8xl w-10">Lorem ipsum dolor sit amet</p>
        </div>
    </div>
</div>