<p>align-content-center 讓 flex 的子項位於容器交叉軸的中心</p>

<div class="card">
    <div class="flex align-content-center flex-wrap card-container yellow-container" style="min-height: 200px">
        <div class="flex align-items-center justify-content-center bg-yellow-500 font-bold text-gray-900 border-round m-2"
            style="min-width: 200px; min-height: 50px">1</div>
        <div class="flex align-items-center justify-content-center bg-yellow-500 font-bold text-gray-900 border-round m-2"
            style="min-width: 200px; min-height: 50px">2</div>
        <div class="flex align-items-center justify-content-center bg-yellow-500 font-bold text-gray-900 border-round m-2"
            style="min-width: 200px; min-height: 50px">3</div>
    </div>
</div>