<p>opacity 用於設定元素的不透明度</p>

<div class="card">
    <div class="flex align-items-center justify-content-center card-container blue-container">
        <div
            class="opacity-10 flex align-items-center justify-content-center border-round bg-blue-500 text-white p-3 m-3 font-bold">
            opacity-10</div>
        <div
            class="opacity-40 flex align-items-center justify-content-center border-round bg-blue-500 text-white p-3 m-3 font-bold">
            opacity-40</div>
        <div
            class="opacity-70 flex align-items-center justify-content-center border-round bg-blue-500 text-white p-3 m-3 font-bold">
            opacity-70</div>
        <div
            class="opacity-100 flex align-items-center justify-content-center border-round bg-blue-500 text-white p-3 m-3 font-bold">
            opacity-100</div>
    </div>
</div>