<p>appearance 指定元素如何如何有平臺本地顯示</p>

<div class="card">
    <div class="flex flex-column justify-content-center">
        <div class="m-3 flex">
            <select>
                <option>Yes</option>
                <option>No</option>
                <option>Maybe</option>
            </select>
            <input class="mx-3">
            <div class="mx-3">Default browser styles applied</div>
        </div>
        <div class="m-3 flex">
            <select class="appearance-none">
                <option>Yes</option>
                <option>No</option>
                <option>Maybe</option>
            </select>
            <input class="appearance-none mx-3">
            <div class="mx-3">Default styles removed</div>
        </div>
    </div>
</div>