<p>animation-duration 指定動畫需要花費多少時間</p>

<div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container blue-container">
        <div class="scalein animation-duration-200 animation-iteration-infinite flex align-items-center justify-content-center
    font-bold bg-blue-500 text-white border-round m-2 px-5 py-3">scalein</div>
        <div class="scalein animation-duration-500 animation-iteration-infinite flex align-items-center justify-content-center
    font-bold bg-blue-500 text-white border-round m-2 px-5 py-3">scalein</div>
        <div class="scalein animation-duration-1000 animation-iteration-infinite flex align-items-center justify-content-center
    font-bold bg-blue-500 text-white border-round m-2 px-5 py-3">scalein</div>
    </div>
</div>