<p>align-content-around 類似 align-content-between 但同時使子項和 flex 盒也保持間距</p>
<p>flex 子項與 flex 盒子的間距是 flex 子項與子項間 間距的 1/2</p>
<div class="card">
    <div class="flex align-content-around flex-wrap card-container indigo-container"
        style="min-height: 320px; max-width: 700px">
        <div class="flex align-items-center justify-content-center bg-indigo-500 font-bold text-white border-round m-2"
            style="min-width: 200px; min-height: 50px">1</div>
        <div class="flex align-items-center justify-content-center bg-indigo-500 font-bold text-white border-round m-2"
            style="min-width: 200px; min-height: 50px">2</div>
        <div class="flex align-items-center justify-content-center bg-indigo-500 font-bold text-white border-round m-2"
            style="min-width: 200px; min-height: 50px">3</div>
        <div class="flex align-items-center justify-content-center bg-indigo-500 font-bold text-white border-round m-2"
            style="min-width: 200px; min-height: 50px">4</div>
        <div class="flex align-items-center justify-content-center bg-indigo-500 font-bold text-white border-round m-2"
            style="min-width: 200px; min-height: 50px">5</div>
    </div>
</div>