<p>align-self-stretch 項目被拉伸以適合容器</p>

<div class="card">
    <div class="flex align-items-stretch flex-wrap card-container indigo-container" style="min-height: 200px">
        <div class="flex align-items-center justify-content-center bg-indigo-500 font-bold text-white border-round m-2"
            style="min-width: 200px; min-height: 50px">1</div>
        <div class="align-self-stretch flex align-items-center justify-content-center bg-indigo-500 font-bold text-white border-round m-2"
            style="min-width: 200px; min-height: 50px">2</div>
        <div class="flex align-items-center justify-content-center bg-indigo-500 font-bold text-white border-round m-2"
            style="min-width: 200px; min-height: 50px">3</div>
    </div>
</div>