<p>這是一個 radiobutton 的例子，通過使用 class field-radiobutton 來獲取效果，通過設置相同的 form name 屬性來將 radiobutton 設置爲同一組</p>

<div class="card">
    <h5>Vertical RadioButton</h5>
    <div class="field-radiobutton">
        <input type="radio" name="vcity" id="city5">
        <label for="city5">Chicago</label>
    </div>
    <div class="field-radiobutton">
        <input type="radio" name="vcity" id="city6">
        <label for="city6">Los Angeles</label>
    </div>

    <h5>Horizontal RadioButton</h5>
    <div class="formgroup-inline">
        <div class="field-radiobutton">
            <input type="radio" name="hcity" id="city7">
            <label for="city7">Chicago</label>
        </div>
        <div class="field-radiobutton">
            <input type="radio" name="hcity" id="city8">
            <label for="city8">Los Angeles</label>
        </div>
    </div>
</div>