<p>translate 系列的 class 通過指定 transform 來移動元素</p>
<div class="card">
    <div
        class="flex flex-wrap align-items-center justify-content-center md:justify-content-between card-container blue-container">
        <div class="h-6rem w-6rem bg-blue-500 border-round-left">
            <img src="./assets/images/product-placeholder-blue.svg" class="translate-x-100 h-6rem w-6rem"
                alt="primeflex">
        </div>
        <div class="h-6rem w-6rem bg-blue-500">
            <img src="./assets/images/product-placeholder-blue.svg" class="translate-x-0 h-6rem w-6rem" alt="primeflex">
        </div>
        <div class="h-6rem w-6rem bg-blue-500 border-round-right">
            <img src="./assets/images/product-placeholder-blue.svg" class="-translate-x-100 h-6rem w-6rem"
                alt="primeflex">
        </div>
    </div>
</div>