<p>align-self-start 項目位於容器開頭</p>

<div class="card">
    <div class="flex align-items-stretch flex-wrap card-container yellow-container" style="min-height: 200px">
        <div class="flex align-items-center justify-content-center bg-yellow-500 font-bold text-gray-900 border-round m-2"
            style="min-width: 200px; min-height: 50px">1</div>
        <div class="align-self-start flex align-items-center justify-content-center bg-yellow-500 font-bold text-gray-900 border-round m-2"
            style="min-width: 200px; min-height: 50px">2</div>
        <div class="flex align-items-center justify-content-center bg-yellow-500 font-bold text-gray-900 border-round m-2"
            style="min-width: 200px; min-height: 50px">3</div>
    </div>
</div>