<p>使用 class col-offset-{{'{'}}number{{'}'}} 來指定偏移</p>
<div class="grid">
    <div class="col-6 col-offset-3">
        <div class="text-center p-3 border-round-sm bg-indigo-500 font-bold text-white">6</div>
    </div>
</div>
<div class="grid">
    <div class="col-4">
        <div class="text-center p-3 border-round-sm bg-indigo-500 font-bold text-white">4</div>
    </div>
    <div class="col-4 col-offset-4">
        <div class="text-center p-3 border-round-sm bg-indigo-500 font-bold text-white">4</div>
    </div>
</div>