<h2><a href="https://www.primefaces.org/primeflex/appearance" target="_blank">appearance</a></h2>
<ul>
    <li>
        <a routerLink="appearance">appearance</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/cursor" target="_blank">cursor</a></h2>
<ul>
    <li>
        <a routerLink="cursor">cursor</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/outline" target="_blank">outline</a></h2>
<ul>
    <li>
        <a routerLink="outline">outline</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/pointerevents" target="_blank">pointer-events</a></h2>
<ul>
    <li>
        <a routerLink="pointer-events">pointer-events</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/userselect" target="_blank">user-select</a></h2>
<ul>
    <li>
        <a routerLink="user-select">user-select</a>
    </li>
</ul>