<p>網格包含一個基於 12 列的佈局，其中列的寬度使用 class col-{{'{'}}number{{'}'}} 定義。也可以使用 col 來與自動寬度的列一起使用</p>

<div class="grid">
    <div class="col-4">
        <div class="text-center p-3 border-round-sm bg-yellow-500 font-bold text-gray-900">4</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-yellow-500 font-bold text-gray-900">1</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-yellow-500 font-bold text-gray-900">1</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-yellow-500 font-bold text-gray-900">1</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-yellow-500 font-bold text-gray-900">1</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-yellow-500 font-bold text-gray-900">1</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-yellow-500 font-bold text-gray-900">1</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-yellow-500 font-bold text-gray-900">1</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-yellow-500 font-bold text-gray-900">1</div>
    </div>
</div>
<div class="grid">
    <div class="col-2">
        <div class="text-center p-3 border-round-sm bg-yellow-500 font-bold text-gray-900">2</div>
    </div>
    <div class="col-6">
        <div class="text-center p-3 border-round-sm bg-yellow-500 font-bold text-gray-900">6</div>
    </div>
    <div class="col-4">
        <div class="text-center p-3 border-round-sm bg-yellow-500 font-bold text-gray-900">4</div>
    </div>
</div>