<p>box-shadow 用於指定元素的邊框陰影</p>

<div class="card">
    <div class="card-container blue-container">
        <div class="flex flex-wrap align-items-center justify-content-center">
            <div
                class="shadow-none m-3 surface-card text-center p-3 border-round-sm h-6rem w-9rem flex align-items-center justify-content-center font-semibold">
                shadow-none</div>
            <div
                class="shadow-1 m-3 surface-card text-center p-3 border-round-sm h-6rem w-9rem flex align-items-center justify-content-center font-semibold">
                shadow-1</div>
            <div
                class="shadow-2 m-3 surface-card text-center p-3 border-round-sm h-6rem w-9rem flex align-items-center justify-content-center font-semibold">
                shadow-2</div>
        </div>
        <div class="flex flex-wrap align-items-center justify-content-center">
            <div
                class="shadow-3 m-3 surface-card text-center p-3 border-round-sm h-6rem w-9rem flex align-items-center justify-content-center font-semibold">
                shadow-3</div>
            <div
                class="shadow-4 m-3 surface-card text-center p-3 border-round-sm h-6rem w-9rem flex align-items-center justify-content-center font-semibold">
                shadow-4</div>
            <div
                class="shadow-5 m-3 surface-card text-center p-3 border-round-sm h-6rem w-9rem flex align-items-center justify-content-center font-semibold">
                shadow-5</div>
        </div>
        <div class="flex flex-wrap align-items-center justify-content-center">
            <div
                class="shadow-6 m-3 surface-card text-center p-3 border-round-sm h-6rem w-9rem flex align-items-center justify-content-center font-semibold">
                shadow-6</div>
            <div
                class="shadow-7 m-3 surface-card text-center p-3 border-round-sm h-6rem w-9rem flex align-items-center justify-content-center font-semibold">
                shadow-7</div>
            <div
                class="shadow-8 m-3 surface-card text-center p-3 border-round-sm h-6rem w-9rem flex align-items-center justify-content-center font-semibold">
                shadow-8</div>
        </div>
    </div>
</div>

<p>你可以爲僞狀態在 class shadow 名稱前添加同名的前綴例如 focus: hover: active: 來爲這些狀態指定邊框陰影</p>
<div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container">
        <div
            class="shadow-2 hover:shadow-8 text-center border-round-sm h-6rem surface-overlay p-3 m-3 flex align-items-center justify-content-center font-bold">
            shadow-8 on hover
        </div>
    </div>
</div>