這個示例程序演示了如何使用 PrimeNG

<h2>PrimeNG</h2>
<ul>
    <li>
        <a routerLink="/button">button</a>
    </li>
</ul>


<h2>PrimeFlex</h2>
<ul>
    <li>
        <a routerLink="/primeflex/layout">layout</a>
    </li>
    <li>
        <a routerLink="/primeflex/flexbox">flexbox</a>
    </li>
    <li>
        <a routerLink="/primeflex/grid">grid</a>
    </li>
    <li>
        <a routerLink="/primeflex/background">background</a>
    </li>
    <li>
        <a routerLink="/primeflex/border">border</a>
    </li>
    <li>
        <a routerLink="/primeflex/space">space</a>
    </li>
    <li>
        <a routerLink="/primeflex/size">size</a>
    </li>
</ul>