<p>flex-shrink 用於指定元素在 flex 中的收縮因子，默認值爲 1</p>
<div class="card">
    <div class="flex card-container blue-container">
        <div
            class="flex-grow-1 flex-shrink-1 flex align-items-center justify-content-center bg-blue-500 font-bold text-white p-4 m-3 border-round">
            1</div>
        <div
            class="flex-shrink-0 flex align-items-center justify-content-center bg-blue-500 font-bold text-white p-4 m-3 border-round">
            shrink item</div>
        <div
            class="flex-grow-1 flex-shrink-1 flex align-items-center justify-content-center bg-blue-500 font-bold text-white p-4 m-3 border-round">
            3</div>
    </div>
</div>