<p>你可以爲僞狀態在 color class 名稱前添加同名的前綴例如 focus: hover: active: 來爲這些狀態指定背景顏色</p>
<div class="card">
    <div class="flex flex-wrap md:justify-content-between justify-content-center card-container">
        <div class="hover:surface-700 surface-500 text-white font-bold border-round m-2 flex align-items-center justify-content-center"
            style="min-width: 200px; min-height: 100px">hover:surface-700</div>
        <div class="hover:bg-cyan-700 bg-cyan-500 text-white font-bold border-round m-2 flex align-items-center justify-content-center"
            style="min-width: 200px; min-height: 100px">hover:bg-cyan-700</div>
        <div class="hover:bg-orange-700 bg-orange-500 text-white font-bold border-round m-2 flex align-items-center justify-content-center"
            style="min-width: 200px; min-height: 100px">hover:bg-orange-700</div>
    </div>
</div>