<h2><a href="https://www.primefaces.org/primeflex/translate" target="_blank">translate</a></h2>
<ul>
    <li>
        <a routerLink="translate">translate</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/transformorigin" target="_blank">origin</a></h2>
<ul>
    <li>
        <a routerLink="origin">origin</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/rotate" target="_blank">rotate</a></h2>
<ul>
    <li>
        <a routerLink="rotate">rotate</a>
    </li>
</ul>