<p>text-transform 指定來如何轉換文字內容</p>


<div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container">
        <div
            class="surface-overlay border-round border-1 p-3 m-3 w-16rem h-16rem flex align-items-center justify-content-center">
            <p class="lowercase">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div
            class="surface-overlay border-round border-1 p-3 m-3 w-16rem h-16rem flex align-items-center justify-content-center">
            <p class="uppercase">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div
            class="surface-overlay border-round border-1 p-3 m-3 w-16rem h-16rem flex align-items-center justify-content-center">
            <p class="capitalize">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. </p>
        </div>
    </div>
</div>