<h2><a href="https://www.primefaces.org/primeflex/fontsize" target="_blank">font-size</a></h2>
<ul>
    <li>
        <a routerLink="font-size">font-size</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/fontweight" target="_blank">font-weight</a></h2>
<ul>
    <li>
        <a routerLink="font-weight">font-weight</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/fontstyle" target="_blank">font-style</a></h2>
<ul>
    <li>
        <a routerLink="font-style">font-style</a>
    </li>
</ul>

<h2><a href="https://www.primefaces.org/primeflex/textcolor" target="_blank">text-color</a></h2>
<ul>
    <li>
        <a routerLink="text-color">text-color</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/textdecoration" target="_blank">text-decoration</a></h2>
<ul>
    <li>
        <a routerLink="text-decoration">text-decoration</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/textalign" target="_blank">text-align</a></h2>
<ul>
    <li>
        <a routerLink="text-align">text-align</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/textoverflow" target="_blank">text-overflow</a></h2>
<ul>
    <li>
        <a routerLink="text-overflow">text-overflow</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/texttransform" target="_blank">text-transform</a></h2>
<ul>
    <li>
        <a routerLink="text-transform">text-transform</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/lineheight" target="_blank">line-height</a></h2>
<ul>
    <li>
        <a routerLink="line-height">line-height</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/whitespace" target="_blank">whitespace</a></h2>
<ul>
    <li>
        <a routerLink="whitespace">whitespace</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/liststyletype" target="_blank">list-style</a></h2>
<ul>
    <li>
        <a routerLink="list-style">list-style</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/verticalalign" target="_blank">vertical-align</a></h2>
<ul>
    <li>
        <a routerLink="vertical-align">vertical-align</a>
    </li>
</ul>