<p>rotate 系列的 class 通過指定 transform 來旋轉元素</p>
<div class="card">
    <div
        class="flex flex-wrap align-items-center justify-content-center md:justify-content-between card-container blue-container">
        <div class="h-6rem w-6rem m-5">
            <img src="./assets/images/rotate-placeholder-blue.svg" class="rotate-90 h-6rem w-6rem" alt="primeflex">
        </div>
        <div class="h-6rem w-6rem m-5">
            <img src="./assets/images/rotate-placeholder-blue.svg" class="-rotate-90 h-6rem w-6rem" alt="primeflex">
        </div>
        <div class="h-6rem w-6rem m-5">
            <img src="./assets/images/rotate-placeholder-blue.svg" class="rotate-180 h-6rem w-6rem" alt="primeflex">
        </div>
        <div class="h-6rem w-6rem m-5">
            <img src="./assets/images/rotate-placeholder-blue.svg" class="-rotate-180 h-6rem w-6rem" alt="primeflex">
        </div>
    </div>
</div>