<p>flex-grow 用於指定元素在 flex 中的增長因子，默認值爲 0</p>
<div class="card">
    <div class="flex card-container blue-container overflow-hidden">
        <div
            class="flex-none flex align-items-center justify-content-center bg-blue-500 font-bold text-white m-2 px-5 py-3 border-round">
            PrimeFlex</div>
        <div
            class="flex-grow-1 flex align-items-center justify-content-center bg-blue-500 font-bold text-white m-2 px-5 py-3 border-round">
            PrimeFlex</div>
        <div
            class="flex-none flex align-items-center justify-content-center bg-blue-500 font-bold text-white m-2 px-5 py-3 border-round">
            PrimeFlex</div>
    </div>
</div>