<p>align-items-baseline 使項目位於容器基線</p>

<div class="card">
    <div class="flex align-items-baseline flex-wrap card-container indigo-container" style="min-height: 200px">
        <div class="flex align-items-center justify-content-center bg-indigo-500 font-bold text-white border-round m-2"
            style="min-width: 200px; min-height: 50px">1</div>
        <div class="flex align-items-center justify-content-center bg-indigo-500 font-bold text-white border-round m-2"
            style="min-width: 200px; min-height: 150px">2</div>
        <div class="flex align-items-center justify-content-center bg-indigo-500 font-bold text-white border-round m-2"
            style="min-width: 200px; min-height: 100px">3</div>
    </div>
</div>