<p>user-select 控制用戶是否可以選擇文本</p>
<div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container blue-container">
        <div
            class="select-none bg-blue-500 text-white border-round p-3 m-3 flex align-items-center justify-content-center">
            select-none</div>
        <div
            class="select-text bg-blue-500 text-white border-round p-3 m-3 flex align-items-center justify-content-center">
            select-text</div>
        <div
            class="select-all bg-blue-500 text-white border-round p-3 m-3 flex align-items-center justify-content-center">
            select-all</div>
        <div
            class="select-auto bg-blue-500 text-white border-round p-3 m-3 flex align-items-center justify-content-center">
            select-auto</div>
    </div>
</div>