<p>flex-wrap-reverse 類似 flex-wrap 但 wrap 的順序相反
</p>

<div class="card">
    <div class="flex flex-wrap-reverse card-container yellow-container" style="max-width: 500px">
        <div class="flex align-items-center justify-content-center bg-yellow-500 font-bold text-gray-900 m-2 border-round"
            style="min-width: 200px; min-height: 100px">1</div>
        <div class="flex align-items-center justify-content-center bg-yellow-500 font-bold text-gray-900 m-2 border-round"
            style="min-width: 200px; min-height: 100px">2</div>
        <div class="flex align-items-center justify-content-center bg-yellow-500 font-bold text-gray-900 m-2 border-round"
            style="min-width: 200px; min-height: 100px">3</div>
    </div>
</div>