<h2><a href="https://www.primefaces.org/primeflex/backgroundcolor" target="_blank">Background Color</a></h2>
<ul>
    <li>
        <a routerLink="color/main">color</a>
    </li>
    <li>
        <a routerLink="color/pseudo">pseudo</a>
    </li>
    <li>
        <a routerLink="color/theme">theme</a>
    </li>
</ul>

<h2><a href="https://www.primefaces.org/primeflex/backgroundrepeat" target="_blank">Background Repeat</a></h2>
<ul>
    <li>
        <a routerLink="repeat/repeat">bg-repeat</a>
    </li>
    <li>
        <a routerLink="repeat/no">bg-no-repeat</a>
    </li>
    <li>
        <a routerLink="repeat/x">bg-repeat-x</a>
    </li>
    <li>
        <a routerLink="repeat/y">bg-repeat-y</a>
    </li>
    <li>
        <a routerLink="repeat/round">bg-repeat-round</a>
    </li>
    <li>
        <a routerLink="repeat/space">bg-repeat-space</a>
    </li>
</ul>

<h2><a href="https://www.primefaces.org/primeflex/backgroundsize" target="_blank">Background Size</a></h2>
<ul>
    <li>
        <a routerLink="size/auto">bg-auto</a>
    </li>
    <li>
        <a routerLink="size/cover">bg-cover</a>
    </li>
    <li>
        <a routerLink="size/contain">bg-contain</a>
    </li>
</ul>

<h2><a href="https://www.primefaces.org/primeflex/backgroundposition" target="_blank">Background Position</a></h2>
<ul>
    <li>
        <a routerLink="position">position</a>
    </li>
</ul>