<h2><a href="https://www.primefaces.org/primeflex/animations" target="_blank">animations</a></h2>
<ul>
    <li>
        <a routerLink="animations">animations</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/animationiteration" target="_blank">animation-iteration-count</a>
</h2>
<ul>
    <li>
        <a routerLink="iteration-count">animation-iteration-count</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/animationfill" target="_blank">animation-fill-mode</a>
</h2>
<ul>
    <li>
        <a routerLink="fill">animation-fill-mode</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/animationduration" target="_blank">animation-duration</a></h2>
<ul>
    <li>
        <a routerLink="duration">animation-duration</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/animationtimingfunction" target="_blank">animation-timing-function</a>
</h2>
<ul>
    <li>
        <a routerLink="timing">animation-timing-function</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/animationdelay" target="_blank">animation-delay</a>
</h2>
<ul>
    <li>
        <a routerLink="delay">animation-delay</a>
    </li>
</ul>