<p>transform-origin 用於指定元素的原點，原點將影響對元素的變換</p>
<div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center md:justify-content-between card-container blue-container"
        style="min-height: 250px">
        <div class="h-6rem w-6rem bg-blue-500 m-5 border-round">
            <img src="./assets/images/product-placeholder-blue.svg" class="origin-center rotate-45 h-6rem w-6rem"
                alt="primeflex">
        </div>
        <div class="h-6rem w-6rem bg-blue-500 m-5 border-round">
            <img src="./assets/images/product-placeholder-blue.svg" class="origin-top-right rotate-45 h-6rem w-6rem"
                alt="primeflex">
        </div>
        <div class="h-6rem w-6rem bg-blue-500 m-5 border-round">
            <img src="./assets/images/product-placeholder-blue.svg" class="origin-bottom-left rotate-45 h-6rem w-6rem"
                alt="primeflex">
        </div>
        <div class="h-6rem w-6rem bg-blue-500 m-5 border-round">
            <img src="./assets/images/product-placeholder-blue.svg" class=" origin-left rotate-45 h-6rem w-6rem"
                alt="primeflex">
        </div>
    </div>
</div>