<p>網格是一個基於 flexbox 的 css 實用程序。你可以 <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"
        target="_blank">在此</a> 查看完整的 flexbox 教學。</p>


<p>基本網格是通過 class grid 和 class col 來定義</p>

<div class="grid">
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-blue-500 font-bold text-white">1</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-blue-500 font-bold text-white">2</div>
    </div>
    <div class="col">
        <div class="text-center p-3 border-round-sm bg-blue-500 font-bold text-white">3</div>
    </div>
</div>