<h2><a href="https://www.primefaces.org/primeflex/flexdirection" target="_blank">direction</a></h2>
<ul>
    <li>
        <a routerLink="direction/row">flex-row</a>
    </li>
    <li>
        <a routerLink="direction/row-reverse">flex-row-reverse</a>
    </li>
    <li>
        <a routerLink="direction/column">flex-column</a>
    </li>
    <li>
        <a routerLink="direction/column-reverse">flex-column-reverse</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/flexwrap" target="_blank">wrap</a></h2>
<ul>
    <li>
        <a routerLink="wrap/wrap">flex-wrap</a>
    </li>
    <li>
        <a routerLink="wrap/wrap-reverse">flex-wrap-reverse</a>
    </li>
    <li>
        <a routerLink="wrap/nowrap">flex-nowrap</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/flexflex" target="_blank">flex</a></h2>
<ul>
    <li>
        <a routerLink="flex/grow">flex-grow</a>
    </li>
    <li>
        <a routerLink="flex/shrink">flex-shrink</a>
    </li>
    <li>
        <a routerLink="flex/initial">flex-initial</a>
    </li>
    <li>
        <a routerLink="flex/1">flex-1</a>
    </li>
    <li>
        <a routerLink="flex/auto">flex-auto</a>
    </li>
    <li>
        <a routerLink="flex/none">flex-none</a>
    </li>
</ul>

<h2><a href="https://www.primefaces.org/primeflex/gap" target="_blank">gap order</a></h2>
<ul>
    <li>
        <a routerLink="gap">gap</a>
    </li>
    <li>
        <a routerLink="order">order</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/justifycontent" target="_blank">justify-content</a></h2>
<ul>
    <li>
        <a routerLink="justify-content/start">justify-content-start</a>
    </li>
    <li>
        <a routerLink="justify-content/end">justify-content-end</a>
    </li>
    <li>
        <a routerLink="justify-content/center">justify-content-center</a>
    </li>
    <li>
        <a routerLink="justify-content/between">justify-content-between</a>
    </li>
    <li>
        <a routerLink="justify-content/around">justify-content-around</a>
    </li>
    <li>
        <a routerLink="justify-content/evenly">justify-content-evenly</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/aligncontent" target="_blank">align-content</a></h2>
<ul>
    <li>
        <a routerLink="align-content/start">align-content-start</a>
    </li>
    <li>
        <a routerLink="align-content/end">align-content-end</a>
    </li>
    <li>
        <a routerLink="align-content/center">align-content-center</a>
    </li>
    <li>
        <a routerLink="align-content/between">align-content-between</a>
    </li>
    <li>
        <a routerLink="align-content/around">align-content-around</a>
    </li>
    <li>
        <a routerLink="align-content/evenly">align-content-evenly</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/alignitems" target="_blank">align-items</a></h2>
<ul>
    <li>
        <a routerLink="align-items/stretch">align-items-stretch</a>
    </li>
    <li>
        <a routerLink="align-items/start">align-items-start</a>
    </li>
    <li>
        <a routerLink="align-items/end">align-items-end</a>
    </li>
    <li>
        <a routerLink="align-items/center">align-items-center</a>
    </li>
    <li>
        <a routerLink="align-items/baseline">align-items-baseline</a>
    </li>
</ul>
<h2><a href="https://www.primefaces.org/primeflex/alignself" target="_blank">align-self</a></h2>
<ul>
    <li>
        <a routerLink="align-self/auto">align-self-auto</a>
    </li>
    <li>
        <a routerLink="align-self/stretch">align-self-stretch</a>
    </li>
    <li>
        <a routerLink="align-self/start">align-self-start</a>
    </li>
    <li>
        <a routerLink="align-self/end">align-self-end</a>
    </li>
    <li>
        <a routerLink="align-self/center">align-self-center</a>
    </li>
    <li>
        <a routerLink="align-self/baseline">align-self-baseline</a>
    </li>
</ul>