<p>justify-content-evenly 類似 justify-content-around，但 flex 子項 與 子項/盒子 的間距 相等</p>
<div class="card">
    <div class="flex justify-content-evenly flex-wrap card-container orange-container">
        <div
            class="flex align-items-center justify-content-center w-4rem h-4rem bg-orange-500 font-bold text-white border-round m-2">
            1</div>
        <div
            class="flex align-items-center justify-content-center w-4rem h-4rem bg-orange-500 font-bold text-white border-round m-2">
            2</div>
        <div
            class="flex align-items-center justify-content-center w-4rem h-4rem bg-orange-500 font-bold text-white border-round m-2">
            3</div>
    </div>
</div>