<div class="card">
    <h5>這是一個複選框的例子，通過使用 class field-checkbox 來獲取效果</h5>
    <div class="field-checkbox">
        <input type="checkbox" id="city1">
        <label for="city1">Chicago</label>
    </div>
    <div class="field-checkbox">
        <input type="checkbox" id="city2">
        <label for="city2">Los Angeles</label>
    </div>

    <h5>Horizontal Checkbox</h5>
    <div class="formgroup-inline">
        <div class="field-checkbox">
            <input type="checkbox" id="city3">
            <label for="city3">Chicago</label>
        </div>
        <div class="field-checkbox">
            <input type="checkbox" id="city4">
            <label for="city4">Los Angeles</label>
        </div>
    </div>
</div>