<div class="card">
    <h5>這是一個垂直的表單</h5>
    <div class="field">
        <label for="firstname1">Firstname</label>
        <input id="firstname1" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field">
        <label for="lastname1">Lastname</label>
        <input id="lastname1" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
</div>


<div class="card">
    <h5>你可以使用 grid 來將表單項 放到同一行中</h5>
    <div class="formgrid grid">
        <div class="field col">
            <label for="firstname2">Firstname</label>
            <input id="firstname2" type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col">
            <label for="lastname2">Lastname</label>
            <input id="lastname2" type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
    </div>
</div>