<p>flex-auto 將增長和收縮因子都設置爲 1，將元素初始化大小(flex-basis)設置爲 auto 所以這些元素跟隨 flex 一起增長或收縮，但它們各自的初始大小不同</p>
<div class="card">
    <div class="card-container green-container overflow-hidden">
        <div class="flex">
            <div
                class="flex align-items-center justify-content-center bg-green-500 font-bold text-white m-2 px-5 py-3 border-round">
                Prime</div>
            <div
                class="flex align-items-center justify-content-center bg-green-500 font-bold text-white m-2 px-5 py-3 border-round">
                Prime and PrimeFlex</div>
            <div
                class="flex align-items-center justify-content-center bg-green-500 font-bold text-white m-2 px-5 py-3 border-round">
                Lorem ipsum dolor sit amet</div>
        </div>
        <div class="flex">
            <div
                class="flex-auto flex align-items-center justify-content-center bg-green-500 font-bold text-white m-2 px-5 py-3 border-round">
                Prime</div>
            <div
                class="flex-auto flex align-items-center justify-content-center bg-green-500 font-bold text-white m-2 px-5 py-3 border-round">
                Prime and PrimeFlex</div>
            <div
                class="flex-auto flex align-items-center justify-content-center bg-green-500 font-bold text-white m-2 px-5 py-3 border-round">
                Lorem ipsum dolor sit amet</div>
        </div>
    </div>
</div>