<p>align-self-auto 將從 flex 容器獲取對齊的方式，這也是子項的默認值</p>
<div class="card">
    <div class="flex align-items-stretch flex-wrap card-container blue-container" style="min-height: 200px">
        <div class="flex align-items-center justify-content-center bg-blue-500 font-bold text-white border-round m-2"
            style="min-width: 200px; min-height: 50px">1</div>
        <div class="align-self-auto flex align-items-center justify-content-center bg-blue-500 font-bold text-white border-round m-2"
            style="min-width: 200px; min-height: 50px">2</div>
        <div class="flex align-items-center justify-content-center bg-blue-500 font-bold text-white border-round m-2"
            style="min-width: 200px; min-height: 50px">3</div>
    </div>
</div>