<p>transition-timing-function 定義過渡的速度曲線</p>

<div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container blue-container">
        <div class="transition-linear transition-duration-500 bg-blue-500 hover:bg-yellow-500 text-white hover:text-gray-900
    flex align-items-center justify-content-center font-bold border-round cursor-pointer m-2 px-5 py-3">Hover me</div>
        <div class="transition-ease-in transition-duration-500 bg-blue-500 hover:bg-yellow-500 text-white hover:text-gray-900
    flex align-items-center justify-content-center font-bold border-round cursor-pointer m-2 px-5 py-3">Hover me</div>
        <div class="transition-ease-out transition-duration-500 bg-blue-500 hover:bg-yellow-500 text-white hover:text-gray-900
    flex align-items-center justify-content-center font-bold border-round cursor-pointer m-2 px-5 py-3">Hover me</div>
        <div class="transition-ease-in-out transition-duration-500 bg-blue-500 hover:bg-yellow-500 text-white hover:text-gray-900
    flex align-items-center justify-content-center font-bold border-round cursor-pointer m-2 px-5 py-3">Hover me</div>
    </div>
</div>