<p>align-content-evenly 類似 align-content-around，但 flex 子項 與 子項/盒子 的間距 相等</p>

<div class="card">
    <div class="flex align-content-evenly flex-wrap card-container orange-container"
        style="min-height: 320px; max-width: 700px">
        <div class="flex align-items-center justify-content-center bg-orange-500 font-bold text-white border-round m-2"
            style="min-width: 200px; min-height: 50px">1</div>
        <div class="flex align-items-center justify-content-center bg-orange-500 font-bold text-white border-round m-2"
            style="min-width: 200px; min-height: 50px">2</div>
        <div class="flex align-items-center justify-content-center bg-orange-500 font-bold text-white border-round m-2"
            style="min-width: 200px; min-height: 50px">3</div>
        <div class="flex align-items-center justify-content-center bg-orange-500 font-bold text-white border-round m-2"
            style="min-width: 200px; min-height: 50px">4</div>
        <div class="flex align-items-center justify-content-center bg-orange-500 font-bold text-white border-round m-2"
            style="min-width: 200px; min-height: 50px">5</div>
    </div>
</div>